html {
  box-sizing: border-box;

}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
cite,
q,
a,
dd,
link {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}


cite,
input,
button,
textarea,
select {
  font: inherit;
}

a,
q {
  text-decoration: none;
  color: inherit;
  outline: transparent;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: 3px solid transparent;
}

input {
  border: none;
  outline: 3px solid transparent;
}

textarea {
  border: none;
  outline: 3px solid transparent;
}

address {
  font-style: normal;
}